@import "materialize";
@import "select2";

.select2-container {
  width: 100% 
}

body {
  background-color: #bdbdbd;
}

form {

  background-color: #efebe9;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #00796b;
}

.footer {
  background-color: #00796b;
}
