@import "materialize";
@import "select2";
@import 'foundation-icons';

.select2-container {
  width: 100% 
}

body {
  background-color: #eeeeee;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-top:40px; 
  margin-bottom:40px; 
  flex: 1 0 auto;
}

nav {
  background-color: #00796b;
}

.footer-div {
  height: 56px;
  width: 100%;
  line-height: 56px;
  background-color: #00796b;
}

.container {
  margin-top:40px; 
  margin-bottom:40px; 
}

.social-list {
  li {
    float: left;
    margin-right: 10px;
    a {
      color: #FFFFFF;
    }
  }
}

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}
.clearfix:after {
 clear: both;
}
